*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(33, 8, 66);
    margin: 0;
}

.parallax-window {
    min-height: 60vh;
    background: transparent;
}


#intro {
    padding-top: 80px;
   
}

#intro p {
    padding: 150px 200px;
    font-size: 20px;
    color: #00ffff;
}

#about {
    height: 500px;
    font-size: 20px;
    color: #00ffff;
}